* {
    margin: 0;
    padding: 0;
}

.wrap {
    width: 400px;
    margin: 0 auto;
}

.bg-white {
    color: white;
}

.header {
    height: 100px;
    background-color: #141f40;
}

.contents {
    height: 250px;
}

.left {
    width: 150px;
    height: 250px;
    background-color: #80bfa8;
    float: left;
}

.right {
    width: 250px;
    height: 250px;
    background-color: #8c2727;
    float: right;
}

.footer {
    height: 100px;
    background-color: #d98d30;
}