* {
	padding: 0;
	margin: 0;
}

/* header, footer */
.bar {
	background-color: grey;
}

label {
	color: white;
	padding: 10px;
}

.date {
	display: inline-block;
	padding: 10px;
	font-size: 10px;
}


/* jspTest */
.form {
	padding-top: 50px;
	padding-bottom: 50px;
}