* {
    margin: 0;
    padding: 0;
}

.wrapper {
    width: 400px;
    height: 100%;
}

.header {
    background-color: #141f40;
    height: 100px;
}

.clearfix::after {
    content: "";
    display: block;
    clear: both;
}

.left {
    width: 150px;
    height: 250px;
    background-color: #80bfa8;
    float: left;
}

.center-right {
    width: 250px;
    float: left;
}

.upper {
    height: 150px;
}

.center {
    float: left;
    width: 150px;
    height: 150px;
}

.center-upper {
    background-color: #dbd400;
    height: 50px;
}

.center-lower {
    background-color: #0093b7;
    height: 100px;
}

.right {
    background-color: #ff9e6b;
    width: 100px;
    height: 150px;
    float: right;
}

.lower {
    background-color: #8c2727;
    height: 100px;
}

.footer {
    height: 100px;
    background-color: #d98d30;
}